@font-face {
    font-family: 'Turnpike';
    font-style: normal;
    font-weight: normal;
    src: local('Turnpike'), url('../fonts/Turnpike.woff') format('woff');
}

body {
    background-color: #202020;
    color: #fff;
}

section.container {
    margin: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-family: 'Turnpike', Arial, sans-serif;
}

h3 {
    color: #fff;
    font-size: 16px;
}

.fa {
    color: #fff;
}

header {
    height: 2em;
    margin-bottom: 5em;
    background: #f00;
    padding: 0 0 0 1em;
}

header a {
    color: #fff;
}

header a:hover {
    color: #fff;
    text-decoration: underline;
}

header img {
    margin-top: -2px;
}

a {
    color: #f00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

a:hover {
    color: #f00;
    text-decoration: underline;
}

label {
    color: #fff;
}

iframe {
    border: none;
    overflow: hidden;
}

.date {}

.date > h4 {
    color: #999;
    font-size: 12px;
    margin-top: 2em;
}

.message {
    margin: 5px 20px;
}

.hide {
    display: none;
}

#assets {
    margin: 0 0 8em 0;
}

#save-order {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 5em;
    margin: 0;
}

#assets > .asset {
    margin-bottom: 3em;
}

.asset > .order {
    float: left;
    margin: 0;
    padding: 0.1em 0.5em;
    text-align: center;
    font-size: 1.2em;
    cursor: move;
}

#new-asset {
    margin-bottom: 40px;
}

#new-asset > #info {
    display: none;
    width: 400px;
    margin: 10px auto;
    text-align: center;
}

#dropzone {
    width: 50%;
    height: 400px;
    border: 3px dashed #666;
}

#dropzone.hover {
    border-color: #008CBA;
}

#dropzone > p {
    text-align: center;
    vertical-align: middle;
    line-height: 380px;
}

#dropzone > img {
    border-radius: 22px;
}

.new-user {
    display: none;
    width: 200px;
}

.new-project {
    display: none;
    width: 200px;
}

.slide-form {
    display: none;
    width: 200px;
}

.inline div {
    display: inline-block;
    width: 49%;
}

#logs {
    white-space: pre-line;
    font-size: 12px
}

.container p {
    margin-bottom: 0;
}

div#blocker-detect {
    position: absolute;
    right: 10px;
    top: 40px;
}

p.order {
    background: #f00;
    color: #000;
    font-family: 'Turnpike', Arial, sans-serif;
}

section.container {
    margin: 0 0 0 20px;
}

.left a {
    display: inline-block;
    margin: 0;
    height: 2.7em;
    padding: 0.6em 0.7em;
}

.left a:hover,
.right a:hover {
    background: #c00;
    text-decoration: none;
}

.right a {
    display: inline-block;
    margin: 0;
    height: 2.7em;
    padding: 0.6em 1.2em;
}

form {
    width: 400px;
}

.fa-eye-slash,
.fa-trash {
    margin-left: 1em;
    color: #ff0;
}

.container ul {
    margin: 0 0 2em 0;
    padding: 0;
}

.container ul li {
    list-style: none;
}

.metadata {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: #f00;
    color: #000;
    font-size: 0.8em
}
/*fast fix for Thursday*/
.metadata-show{
    display: none;
}

